desktop.ini
Exercices/1_convertirEnCelsuis/.idea/.gitignore
Exercices/1_convertirEnCelsuis/.idea/1_convertirEnCelsuis.iml
Exercices/1_convertirEnCelsuis/.idea/modules.xml
Exercices/1_convertirEnCelsuis/.idea/vcs.xml
Exercices/1_convertirEnCelsuis-DoWhile/.idea/.gitignore
Exercices/1_convertirEnCelsuis-DoWhile/.idea/1_convertirEnCelsuis-DoWhile.iml
Exercices/1_convertirEnCelsuis-DoWhile/.idea/modules.xml
Exercices/1_convertirEnCelsuis-DoWhile/.idea/vcs.xml
Projet/cloneTrello/.idea/.gitignore
Projet/cloneTrello/.idea/cloneTrello.iml
Projet/cloneTrello/.idea/modules.xml
Projet/cloneTrello/.idea/vcs.xml
